<ion-list mode="ios">
  <ion-card mode="ios" *ngFor="let item of plansList, let i=index" class="plan{{item.id}}">
    <ion-card-header [ngClass]="{'starter': item.id == 1, 'small-business': item.id == 2, 'entrepreneur': item.id == 3, 'pro': item.id == 4}">
      <ion-label class="title"><b>{{ item.name }}</b></ion-label>
      <div class="current-plan" *ngIf="item.id == currentPlanID">
          <ion-icon class="currentplan-icon"></ion-icon>
          <ion-label>Current Plan</ion-label>
      </div>
    </ion-card-header>
    <ion-card-content>
      <mat-accordion>
        <mat-expansion-panel class="special">
          <mat-expansion-panel-header class="description" [collapsedHeight]="'auto'">
            {{ item.shortdesc }}
          </mat-expansion-panel-header>
          <mat-panel-description>
            <ion-item mode="ios">
              <ion-label class="normal">Number of sites</ion-label>
              <ion-label class="nest-value normal">{{ item.noofdomain }}</ion-label>
            </ion-item>
            <ion-item mode="ios">
              <ion-label class="normal">Number of users</ion-label>
              <ion-label class="nest-value normal">{{ item.details.users['No. users'] }}</ion-label>
            </ion-item>
            <ion-item mode="ios">
              <ion-label class="normal">Uptime monitor</ion-label>
              <ion-label class="nest-value normal">every {{ item.details.uptime['Check-Interval'] }}</ion-label>
            </ion-item>
            <ion-item mode="ios">
              <ion-label class="normal title">Virus & malware</ion-label>
            </ion-item>
            <ion-item mode="ios">
              <ion-label class="normal nest-title">Malware check</ion-label>
              <ion-label class="nest-value normal">every {{ item.details.security['Check-Interval'] }}</ion-label>
            </ion-item>
            <ion-item mode="ios">
              <ion-label class="normal nest-title">Blacklist check</ion-label>
              <ion-label class="nest-value normal">every {{ item.details.security['Check-Interval'] }}</ion-label>
            </ion-item>
            <ion-item mode="ios">
              <ion-label class="normal nest-title">No. Manual scans</ion-label>
              <ion-label class="nest-value normal">{{ item.details.security['No.-manual-Scan'] }}</ion-label>
            </ion-item>
            <ion-item mode="ios">
              <ion-label class="normal title">Speed monitor</ion-label>
            </ion-item>
            <ion-item mode="ios">
              <ion-label class="normal nest-title">Speed check</ion-label>
              <ion-label class="nest-value normal">every {{ item.details.speed['Check-Interval'] }}</ion-label>
            </ion-item>
            <ion-item mode="ios">
              <ion-label class="normal nest-title">No. Manual Scans</ion-label>
              <ion-label class="nest-value normal">{{ item.details.speed['No.-manual-Scan'] }}</ion-label>
            </ion-item>
            <ion-item mode="ios">
              <ion-label class="normal title">Analytics monitor</ion-label>
            </ion-item>
            <ion-item mode="ios">
              <ion-label class="normal nest-title">Analytics check</ion-label>
              <ion-label class="nest-value normal">{{ item.details.analytics['Check-Interval'] ? 'every ' + item.details.analytics['Check-Interval'] : 'No' }}</ion-label>
            </ion-item>
            <ion-item mode="ios">
              <ion-label class="normal nest-title">Conversion check</ion-label>
              <ion-label class="nest-value normal">{{ item.details.analytics.Conversion ? 'Yes': 'No' }}</ion-label>
            </ion-item>
            <ion-item mode="ios">
              <ion-label class="normal nest-title">Audience check</ion-label>
              <ion-label class="nest-value normal">{{ item.details.analytics.Audience ? 'Yes': 'No' }}</ion-label>
            </ion-item>
            <ion-item mode="ios">
              <ion-label class="normal nest-title">Aquisition check</ion-label>
              <ion-label class="nest-value normal">{{ item.details.analytics.Aquisition ? 'Yes': 'No' }}</ion-label>
            </ion-item>
            <ion-item mode="ios">
              <ion-label class="normal title">SEO health scan</ion-label>
              <ion-label class="nest-value normal"></ion-label>
            </ion-item>
            <ion-item mode="ios">
              <ion-label class="normal nest-title">Automated check</ion-label>
              <ion-label class="nest-value normal">every {{ item.details.seo['Automated scan frequency'] }}</ion-label>
            </ion-item>
            <ion-item mode="ios">
              <ion-label class="normal nest-title">No. Manual scans</ion-label>
              <ion-label class="nest-value normal">{{ item.details.seo['No.-manual-Scan'] }}</ion-label>
            </ion-item>
            <ion-item mode="ios">
              <ion-label class="normal">Domain monitor</ion-label>
              <ion-label class="nest-value normal">every {{ item.details.domain['Check-Interval'] }}</ion-label>
            </ion-item>
          </mat-panel-description>
        </mat-expansion-panel>
      </mat-accordion>
      <ion-item *ngIf="item.id === 1 && item.id !== currentPlanID" class="free fee" lines="none" (click)="carryOutPayment(1, item.name, item.noofdomain, null)">
        <ion-label class="fee extra"><b>Free Plan</b></ion-label>
        <ion-icon name="caret-forward-circle" class="excute"></ion-icon>
      </ion-item>
      <ion-label class="fee extra" *ngIf="item.id === currentPlanID"><i>Already signed up to this</i></ion-label>
      <ion-item *ngIf="item.id > 1 && item.id !== currentPlanID" class="monthly fee" (click)="carryOutPayment(item.id, item.name, item.noofdomain, 'month')">
       <ion-label class="fee">Monthly: <b>{{ '£' + item.month_sale_fee }}</b></ion-label>
       <ion-icon name="caret-forward-circle" class="excute"></ion-icon>
      </ion-item>
      <ion-item *ngIf="item.id > 1 && item.id !== currentPlanID" class="annual fee" lines="none" (click)="carryOutPayment(item.id, item.name, item.noofdomain, 'year')">
        <ion-label class="fee">Annually: <b>{{ '£' + item.annual_sale_fee }}</b><small><s>£{{ item.annual_retail_fee }}</s></small></ion-label>
        <ion-icon name="caret-forward-circle"  class="excute"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-list>

