ion-header {
  ion-toolbar {
    ion-button {
      position: absolute;
      z-index: 1;
      &.menu {
        right: 0;
      }
    }
  }
}
ion-content {
  --padding-bottom: 20px;
  ion-label {
    display: block;
    &.c-header {
      font-size: 22px;
      font-weight: bold;
      display: block;
      margin-top: 20px;
      text-align: center;
    }
    &.c-welcome {
      display: block;
      text-align: center;
      font-size: 18px;
      margin: 20px auto;
    }
    &.c-notice {
      margin-top: 10px;
      display: block;
      text-align: center;
      font-size: 15px;
      color: gray;
    }
  }
  .c-greenButton {
    height: 56px;
    max-width: 70%;
    display: block;
    margin:auto;
    margin-top: 30px;
    --border-radius: 30px;
    text-transform: none;
    font-size: 20px;
  }
}